@use "stl-core" as *;

$available-width: rem(22);
$available-value: 90%;

.available {
  --show-block-trn-from: translate(0, 10%) rotate(-180deg);
  --show-block-trn-to: translate(0%) rotate(-180deg);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $light;

  width: $available-width;

  font-weight: 600;
  font-size: rem(11);
  writing-mode: vertical-rl;
  letter-spacing: rem(0.1);
  white-space: nowrap;

  box-shadow: 0 rem(8) rem(20) rem(0) $dark04;

  transform-origin: center;
  transform: rotate(-180deg);
  filter: drop-shadow(0 0 rem(4) $dark01);

  animation: show-block ($transition-start-delay + 0.63) ($transition-start-duration + 0.63) both linear;


  &:before, &:after {
    position: absolute;
    z-index: 1;

    content: '';
  }

  &:before {
    top: 0;
    bottom: calc(100% - #{$available-value});;
    left: 0;
    right: 0;

    border-radius: 0 0 $available-width $available-width;
    background: linear-gradient(to top, $secondary, $secondary-dark);
    opacity: .9;
  }

  &__item {
    position: relative;
    z-index: 1;

    display: inherit;
    align-items: center;
    justify-content: center;

    width: $available-width;
    padding: rem(28) 0;
    border-bottom: rem(1) solid $border-color04;

    &.--main {
      height: max-content;

      //color: $dark;

      border: none;
      border-radius: 0 0 $available-width $available-width;
      background: $light;
    }

    &.--30 {
      flex: 20%;
    }

    &:last-child {
      border: none;
    }
  }
}
