$available-width: rem(22);
$available-value: 90%;

.available {
  --show-block-trn-from: translate(-10vw, 0%) rotate(-180deg);
  --show-block-trn-to: translate(0%) rotate(-180deg);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $light;

  width: $available-width;

  font-weight: 600;
  font-size: rem(11);
  writing-mode: vertical-rl;
  letter-spacing: rem(0.1);
  white-space: nowrap;

  transform-origin: center;
  transform: rotate(-180deg);

  background: $border-color04;

  animation: show-block ($transition-start-delay + 0.63) ($transition-start-duration + 0.63) both linear;

  &:before {
    position: absolute;
    top: 0;
    bottom: calc(100% - #{$available-value});
    left: 0;
    right: 0;
    z-index: 1;

    content: '';

    border-radius: 0 0 $available-width $available-width;
    background: linear-gradient(to top, $secondary, $secondary-dark);
    box-shadow: 0 rem(8) rem(20) rem(0) $dark04;
    filter: drop-shadow(0 0 rem(4) $dark01);

    opacity: .9;
  }

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    max-height: var(--available-max-height, 0);

    content: 'Quick offer';

    line-height: 1;
    letter-spacing: rem(10);
    font-weight: 500;
    font-size: rem(14);
    color: $light;
    text-shadow: $sh-text2;
    text-transform:uppercase;

    border-radius: 0 0 $available-width $available-width;
    background: linear-gradient(to top, $secondary-dark 10%, $success );

    overflow: hidden;

    transition: max-height $transition-default;

  }

  &__item {
    position: relative;
    z-index: 1;

    display: inherit;
    align-items: center;
    justify-content: center;

    width: $available-width;
    padding: rem(28) 0;

    color: $dark;

    border-bottom: rem(1) solid $border-color04;

    &.--main {
      height: max-content;

      //color: $light;
      text-shadow: $sh-text2;

      border: none;
      border-radius: 0 0 $available-width $available-width;
      background: $success;
    }

    &.--30 {
      flex: 20%;
    }

    &:last-child {
      border: none;
    }
  }

  @include only-mouse {
    &:hover {
      --available-max-height: #{$available-value}
    }
  }
}
