
.console {
  position: fixed;
  right: 10vw;
  bottom: 10vh;

  z-index: 3;

  display: flex;
  flex-flow: column nowrap;

  width: rem(550);
  height: rem(350);

  border-radius: rem(8);
  background: rgba(#000, .6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  box-shadow: 0 0 1.5rem 0.5rem rgba(0, 0, 0, 0.46);
  overflow: hidden;

  user-select: none;

  transform: translate(0%, 0%) scale(1); // translate(100%, 120%) scale(1);

  transition: 1s .5s cubic-bezier(0, 1.18, .41, 1.26);
  transition-property: transform, width, height, right, bottom, opacity;

  &.--full {
    top: unset !important;
    left: unset !important;
    right: 50%;
    bottom: 50%;

    width: 55vw;
    height: 45vh;

    transform: translate(50%, 50%) scale(1.25);
  }

  &.--small {
    top: unset !important;
    left: unset !important;

    right: 10vw;
    bottom: rem(30);

    width: rem(350);
    height: rem(32);

    transform: translate(0, 0) scale(1);

    transition: transform .5s linear, width .1s linear, height .1s linear;

    .console__area {
      padding: 0;
      max-height: 0;

      opacity: 0;
    }
  }

  &.--hide {
    opacity: 0 !important;
    transform: translate(0, 120vh) scale(1) !important;
  }

  &__head {
    display: flex;
    align-items: center;
    gap: rem(8);

    min-height: rem(32);
    padding: 0 $contentGutter;

    border-radius: rem(6) rem(6) 0 0;
    //border-bottom: 1px solid rgba($secondary, 0.5);;
    background: rgba(#000, .6);

    &-text {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: rem(5);

      margin: auto 0 auto auto;

      color: $light;
      font-size: rem(9);
      text-transform: uppercase;

      background: none;

      span {
        display: flex;
        opacity: 0.4;

        transform-origin: 50% 50%;

        &:nth-child(4) {
          color: $secondary;

          font-weight: 700;
          //font-size: rem(11);
          opacity: 1;

          animation: flip 3.5s 0.3s infinite forwards alternate-reverse linear;
        }
      }
    }
  }

  &__area {
    display: inline-flex;
    flex-flow: column;
    flex: 1 1 auto;

    width: 100%;
    height: auto;

    padding: rem(10) $contentGutter;

    font-family: Consolas, monospace;
    font-size: rem(12);
    line-height: 1.45;
    color: $secondary;

    overflow: auto;

    transition: .5s linear;
    transition-property: opacity, max-height;
  }

  &__view {
    pre {
      &.--err {
        color: $primary;
      }

      &.--war {
        color: #fffb53;
      }
    }
  }

  &__cmd {
    display: flex;
    align-items: center;

    &:before {
      margin-right: rem(6);

      white-space: nowrap;
      content: 'you@justtwic.art $';
      font-size: rem(10);
      color: $primary;
    }

    input {
      width: 100%;
      color: inherit;
      border: unset;
      background: unset;
      font-size: rem(12);
      letter-spacing: 1px;

      &:focus {
        outline: none;
      }
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: rem(10);
    height: rem(10);


    //color: $light;
    font-size: 60%;
    border-radius: 50%;
    line-height: 1;
    border: none;
    outline: none;
    background: $primary;

    transition: transform $transition-default;

    &.--y {
      --cons: '−';

      background: #D6B500;
    }

    &.--g {
      --cons: '≡';
      background: $secondary;
    }

    @include only-mouse {
      &:hover {

        &:before {
          content: var(--cons, '×');
        }

        transform: scale(1.35);
      }
    }
  }
}
