.layout {
  display: flex;
  flex-flow: column;
  flex: 1 1;

  max-width: 100vw;
  height: 100%;

  &__main {
    display: flex;
    place-content: center center;
    flex: 1 1;

    &.--hide {
      z-index: -1;

      max-height: 0;

      opacity: 0;
      filter: blur(10px);
    }

    &:not(.--hide) {
      ~ .layout__content {
        position: absolute;
        z-index: -1;

        height: 0;

        opacity: 0;
        overflow: hidden;

        filter: blur(10px);
      }
    }
  }

  &__content {
    position: relative;
    z-index: 10;

    display: flex;
    flex-flow: column;

    width: 100vw;
    height: max-content;

    padding: 0 0 0 $contentGutterX4;
    color: $primary-dark;

    overflow: hidden;

    transition: width 1.5s linear, 1s 0.5s linear;
    transition-property: filter, opacity;

    @include scroll-small;
  }

/*  &__asides {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;

    display: grid;
    grid-auto-flow: column dense;

    width: auto;
    max-width: fit-content;
    max-height: 100vh;

    background: var(--asides-bg, #6a0dc121);

    backdrop-filter: var(--asides-filter-invert, invert(0.9)) blur(var(--asides-filter-blur, rem(5)));

    box-shadow: 0 0 1.5rem 0.5rem rgba(0, 0, 0, 0.36);
    user-select: none;

    transition: max-width $transition-default;

    &.--up {
      z-index: 11;
    }
  }*/
}

.caption {
  margin: 0;

  font-size: rem(62);
  font-weight: 900;

  text-transform: uppercase;
  letter-spacing: -1.50px;

  &.--2 {
    font-size: rem(28);
    font-weight: 500;
  }

  &.--3 {
    font-size: rem(24);
  }

  &.--mode-v {
    position: sticky;
    top: 0;

    display: inline-flex;
    align-items: center;
    order: -1;

    width: rem(77);

    padding: $contentGutterX3 0;

    writing-mode: vertical-lr;

    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      height: var(--title-before-h, 0);

      z-index: -1;

      content: '';
      background-color: $secondary;

      transition: height 0.5s ease-out;
    }

    @include only-mouse {
      &:hover {
        --title-before-h: 100%;
      }
    }

    @media (max-width: 480px) {
      width: rem(46);
      padding: $contentGutterX3 dv($contentGutterX2, 2);
    }
  }

  &, mark, span {
    display: flex;
    align-items: center;
  }

  mark {
    flex-flow: row nowrap;
    font-size: rem(13);
    letter-spacing: rem(5);
    text-transform: uppercase;

    opacity: var(--caption-mark-opacyty, 0);
    transition: opacity $transition-default;
  }
}

.get {
  width: max-content;

  &:not(:hover) {
    .get__win {
      max-height: 0;
      padding: 0;

      opacity: 0;
      visibility: hidden;
    }
  }

  &__win {
    position: absolute;
    top: 100%;
    left: 0;

    display: inline-flex;
    flex-flow: column;
    gap: rem(16);

    padding: $contentGutter $contentGutter;

    line-height: 1;

    border-radius: rem(2);
    background: $light;
    box-shadow: 0 rem(10) rem(20) rem(0) rgba(0, 0, 0, 0.36);

    transition: opacity .6s linear;

    a {
      --link-color: #{$dark} !important;
      --link-hover-color: #{$primary};

      margin: 0;

      font-size: rem(13);
      line-height: 1;

      &:before {
        content: none !important;
      }
    }
  }
}

.canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  &.--circle {
    z-index: -1;
  }
}

.button-resize {
  position: relative;

  min-width: rem(66);
  min-height: rem(66);

  padding: rem(10);

  border-radius: 50%;
  border: none;
  background: transparent;
  cursor: crosshair;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    content: '';

    border-radius: 50%;
    background: $primary;

    transform: translate(var(--button-resize-transform, 100%, 100%));
    opacity: var(--button-resize-opacity, 0);

    transition: all 1.2s cubic-bezier(0, 1.86, .38, .9);
  }

  @include only-mouse {
    &:hover {
      --button-resize-transform: 0, 0;
      --button-resize-opacity: 1;
      --button-resize-fill: #{$light};
      --button-resize-scale: 0.8;
    }
  }

  svg {
    path {
      fill: var(--button-resize-fill, $dark);
      transform: scale(var(--button-resize-scale, 1));
      transform-origin: center;
      transition: fill 1s ease-in-out, opacity .2s linear, transform .8s ease-out;

      &:first-of-type {
        opacity: var(--button-resize-full, 1);

      }

      &:last-of-type {
        opacity: var(--button-resize-unfull, 0);
      }
    }
  }


  &.--unfull {
    --button-resize-full: 0;
    --button-resize-unfull: 1;
  }
}

.input {
  &__field {
    @extend %field;
  }

}

.textarea {
  &__field {
    @extend %field;
    min-height: rem(100);

    resize: none;

  }
}
