.projects {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  width: 100%;

  background: $light;
  overflow: auto;

  transition: 3s linear;
  //transition-property:  width, height;
  //transform-origin: left top;

  &.--full {
    position: fixed;

    //height: 100vh;
    //width: 100vw;

    z-index: 100;
  }

  &:hover {
    .projects__content {

    }
  }

  &__head {
    @extend %sticky-block;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    //padding: $contentGutter;

    background: $light;

    border-bottom: rem(1) solid $dark01;
  }

  &__capt {
    @extend %section-caption;

    mark {
      position: absolute;
      top: 120%;
      left: $contentGutterX3;

      //display: flex;

      //margin:  0 0 0 rem(24);

      font-size: rem(32);
      letter-spacing: rem(10);
      font-weight: 300;
      color: $dark;

      white-space: nowrap;
      writing-mode: vertical-rl;
      text-orientation: mixed;

      //transform-origin: top left;
      //transform: rotate(90deg);
    }
  }

  &__content {
    margin-left: $contentGutterX3*2;


  }
}

.case {
  position: relative;

  display: grid;
  grid-template-columns: 50% 50%;

  transition: .2s linear;
  transition-property: transform, opacity;
  transform: translate(3vw, 0);
  opacity: 0.6;

  &__detail {
    display: flex;
    flex-flow: column;
    gap: rem(40);

    padding: $contentGutterX3;

    color: $dark;
  }

  &__pic {
    position: relative;
    //width: rem(300);
    display: flex;

    max-height: rem(600);

    padding: $contentGutterX3;

    border-right: rem(1) solid $dark01;

    perspective: 900px;

    picture {
      overflow: hidden;
      border-radius: 0;

      box-shadow: var(--case-picture-shadow, none);

      perspective-origin: 0 0;

      //transform-style: preserve-3d;
      transition: transform 1s linear, box-shadow .6s linear;
      perspective: 100px;
    }

    img {
      width: 100%;

      object-fit: contain;
      overflow: hidden;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      width: 50%;
      height: 50%;

      margin: 2px;
      background: red;
      border: 2px solid $dark;

      opacity: 0;

      @include only-mouse {
        &:nth-child(1) {

          &:hover {
            ~ picture {
              transform: rotateY(-17deg) rotateX(10deg) scale(1.04);
            }
          }
        }

        &:nth-child(2) {
          left: 50%;

          &:hover {
            ~ picture {
              --case-picture-shadow: #{rem(2) rem(-20) rem(50) rem(-30) $dark04};
              transform: rotateY(17deg) rotateX(10deg) scale(1.04);
            }
          }
        }

        &:nth-child(3) {
          top: 50%;

          &:hover {
            ~ picture {
              --case-picture-shadow: #{rem(8) rem(20) rem(50) rem(-30) $dark04};
              transform: rotateY(-10deg) rotateX(-17deg) scale(1.04);
            }
          }

        }

        &:nth-child(4) {
          top: 50%;
          left: 50%;

          &:hover {
            ~ picture {
              //perspective: 900px;
              transform: rotateY(10deg) rotateX(-17deg) scale(1.04);
            }
          }
        }
      }
    }
  }

  &__name {
    position: relative;

    display: inline-grid;
    grid-auto-flow: column;

    width: fit-content;

    font-size: rem(38);
    font-weight: 800;
    letter-spacing: rem(0.5);
    white-space: nowrap;

    &:before {
      position: absolute;
      top: 50%;
      left: var(--case-name-left, -10%);
      right: var(--case-name-right, 110%);
      z-index: 1;

      height: rem(4);

      content: '';

      border-radius: rem(4);

      background: $secondary;
      transition: left 1s linear, right .5s linear;
    }


    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;


      width: var(--case-name-text-width, 0);

      content: attr(data-name);

      color: $secondary;

      overflow: hidden;

      //filter: drop-shadow(0 0 1px $secondary);
      transform: scale(1.0) translate(rem(5), rem(5));
      transform-origin: top left;
      transition: width 1.5s linear, opacity 0.4s 1.5s linear;
      opacity: var(--case-name-text-opacity, 1);
    }
  }

  &__desc {
    font-size: rem(16);
    line-height: 1.6;
  }

  &__year {
    position: relative;
    top: rem(32);

    font-size: rem(24);
    font-weight: 100;
    letter-spacing: rem(0.2);
    line-height: 1;
    //color: $secondary;

    opacity: var(--case-year-opacity, 0);

    transition: opacity .5s 0.8s linear;

  }

  &__tags {
    display: inline-flex;
    flex: 0 0;
    flex-flow: row wrap;
    gap: dv($contentGutter, 2) $contentGutter;

    max-width: 80%;
    height: 100%;

    margin: auto 0 $contentGutterX3;
    padding: $contentGutterX2 0 0;

    opacity: .8;
  }

  &__arrow {
    position: absolute;
    top: 90%;
    left: var(--case-arrow-left, $contentGutterX3);

    width: rem(32);
    height: rem(32);

    border: unset;
    background: unset;

    transform: scale(var(--case-arrow-scale, 0)) rotate(45deg);
    opacity: var(--case-arrow-opacity, 0);

    transition: .4s cubic-bezier(0, 1.4, .73, 1.04);

    &:before, &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;

      width: rem(160);
      height: rem(160);

      content: '';

      border-radius: 50%;
      background-color: $secondary;

      transform: translate(-50%, -50%);
    }

    &:after {
      border: rem(1) solid $secondary;
      border-left: unset;
      border-right: unset;
      background: none;

      transform: translate(-50%, -50%) scale(1.2);
    }

    &:before {
      box-shadow: rem(-10) rem(9) rem(40) $dark01;
    }

    path {
      fill: $light;
    }
  }

  @include only-mouse {
    &:hover {
      --case-arrow-opacity: 1;
      --case-arrow-scale: 1;
      --case-picture-shadow: #{rem(-19) rem(20) rem(50) rem(-30) $dark04};

      --case-name-left: 100%;
      --case-name-right: 0;
      --case-year-opacity: 1;
      --case-name-text-width: 100%;
      //--case-name-text-opacity:0;

      color: unset;
      transform: unset;
      opacity: unset;
    }
  }

  &:nth-child(2n) {
    --case-arrow-left: calc(100% - #{$contentGutterX3});

    .case__pic {
      order: 2;

      border-left: rem(1) solid $dark01;
      border-right: none;
    }
  }

  &:not(:last-child) {
    border-bottom: rem(1) solid $dark01;
  }
}

.tag {
  //padding: rem(4) rem(12);

  font-size: rem(14);
  font-weight: 600;
  white-space: nowrap;
  color: $dark;

  //border-radius: rem(18);
  //background: $secondary;
}
