.reviews {
  //background: $secondary;
  width: 100vw;
  //overflow-y: hidden;
  //overflow: hidden;
  margin: 0 (-$contentGutterX3) 0 0;

  max-width: 100vh;

  perspective: rem(900);
  perspective-origin: 0 0;

  &__head {
    display: flex;
    align-items: center;

    min-height: rem(240);

    @extend %sticky-block;

    //background: $secondary;
    padding: 0 $contentGutterX3 0 0;

  }

  &__capt {
    @extend %section-caption;
  }

  &__content {
    margin: 0 0 0 (-$contentGutterX4);
    padding: rem(48) 0;

    transform: rotate3d(1, -40, 1, 30deg) scale(0.9);

    .swiper {
      overflow: unset;
    }

    .swiper-wrapper {
      height: auto;
    }
  }

  &__item {
    display: grid;
    gap: $contentGutterX2;

    min-width: rem(350);
    max-width: none !important;

    padding: $contentGutterX2 $contentGutterX3 $contentGutterX3;

    color: $light;

    border-radius: rem(16) rem(30) rem(30) rem(16);
    border-left: rem(5) solid $light;
    background: $dark04;

    box-shadow: rem(5) rem(5) rem(20) $dark04;
    cursor: ew-resize;


    transition: transform .5s ease-in-out;


    &:hover {
      --reviews-rating-opacity: 1;
      --reviews-desc-color: #{$secondary};
      --reviews-desc-sahdow: #{rem(3) rem(1) rem(0) $dark04};
      //perspective: rem(-900);rotate3d(1, 40, 1, -30deg)
      transform: scale(1.04);

    }
  }

  &__item-rating {
    justify-self: flex-end;

    font-size: rem(24);
    font-weight: 700;

    @include only-mouse {
      opacity: var(--reviews-rating-opacity, 0);
      transition: opacity .5s ease-in-out;
    }
  }

  &__item-desc {
    line-height: 1.25;
    letter-spacing: rem(-0.5);
    color: var(--reviews-desc-color, currentColor);
    text-shadow: var(--reviews-desc-sahdow, none);
    font-weight: 900;
  }

  &__item-name {
    font-size: rem(12);
    line-height: 1.24;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: right;
  }

  &__item-pos {
    font-size: rem(12);

    text-align: right;
  }
}
