.welcome {
  position: relative;

  display: flex;
  flex-flow: column;
  justify-content: center;

  min-height: 88vh;

  &__head {
    @extend %sticky-block;
    z-index: 1;
  }

  &__capt {
    @extend %section-caption;

    max-width: rem(900);
    //
    //span{
    //  color: $secondary;
    //}
    //
    //div{
    //  margin:  0 0 0 rem(16);
    //  font-size: 0.6em;
    //  opacity: 0.9;
    //}
  }

  &__right{
    position: absolute;
    top:50%;
    right: 50%;
  }


  &__text {
    position: relative;

    max-width: rem(620);

    margin: 0 $contentGutterX3;

    font-size: rem(18);
    line-height: 1.34;
    letter-spacing: rem(2);
    color: $light;
    text-transform: uppercase;

    opacity: 0.8;

    &:before {
      position: absolute;
      bottom: -30%;
      left: rem(-10);

      width: 10%;
      height: rem(4);

      content: '';

      border-radius: rem(8);
      background: $light;

    }
  }
}
