.welcome {
  display: flex;
  flex-flow: column;
  justify-content: center;

  min-height: 88vh;

  &__head {
    @extend %sticky-block;
    z-index: 1;
  }

  &__capt {
    @extend %section-caption;
  }


  &__text {
    position: relative;

    max-width: rem(390);

    padding:  0 $contentGutterX3;

    font-size: rem(18);
    line-height: 1.44;
    letter-spacing: rem(-1);
    color: $light;

    &:before {
      position: absolute;
      bottom: 0%;
      left: rem(-10);

      width: 30%;

      content: '';

      border-bottom: rem(4) solid $light;
    }
  }
}
