<div class="themes">
  <div class="themes__head">
    Theme preferences
    <span>
      Choose how JustTwic looks to you.
    </span>
  </div>
  <button class="themes__item">
    <span>Light</span>
    <mark></mark>
    <mark></mark>
  </button>

  <button class="themes__item">
    <span>JustTwic</span>
    <mark></mark>
    <mark></mark>
  </button>

  <button class="themes__item">
    <span>Ocean</span>
    <mark></mark>
    <mark></mark>
  </button>

  <button class="themes__item">
    <span>GitHub</span>
    <mark></mark>
    <mark></mark>
  </button>
</div>
