*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-family: $font-family-primary;
  font-size: $base-font-size-color;
  font-weight: normal;
  text-align: left;
  line-height: normal;
  letter-spacing: normal;
  color: $base-color ;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  scroll-behavior: smooth;

  @media (max-width: 1160px) {
    font-size: 75%;
  }

  @media (max-width: 480px) {
    font-size: 82%;
  }

  @media (max-width: 380px) {
    font-size: 76%;
  }

  @media (max-width: 340px) {
    font-size: 66%;
  }
}

body {
  position: absolute;

  display: flex;
  flex-flow: column;

  min-width: 100vw;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  background: $primary;
}

a {
  color: var(--link-color, currentColor);

  text-decoration: none;

  @include only-mouse {
    &:hover {
      color: var(--link-hover-color, $secondary);
    }
  }
}

mark {
  color: currentColor;
  background: unset;
}

*::selection {
  background-color: $secondary;
  color: $light;
}

