%block {
  display: flex;
  flex-flow: row;

  max-height: calc(100vh - 0.1px);

  @-moz-document url-prefix() {
    backdrop-filter: unset;
    mix-blend-mode: screen;
    background: $dark04;
  }
}

%content {
  display: flex;
  flex-flow: column;
  gap: $contentGutterX2;
  flex: 1 1;

  padding: $contentGutterX3 dv($contentGutterX3, 2) $contentGutterX3 0;

  overflow: auto;
  overflow-x: hidden;

  //transition: width .8s linear, padding-right 1s linear,
  //opacity 1s linear,
  //visibility 1.3s linear,
  //max-width 2.5s 0.1s linear;
  //
  //@extend %scroll-small;
  //
  //&:not(.--show) {
  //  max-width: 0;
  //  width: 0;
  //
  //  padding: 0;
  //
  //  opacity: 0;
  //  visibility: hidden;
  //}
  //
  //&.--show {
  //
  //  max-width: 100vw;
  //  width: var(--content-width, 36vw);
  //
  //  & ~ .caption {
  //    --caption-mark-opacyty: 0.6;
  //
  //    &:before {
  //      content: none;
  //    }
  //  }
  //}

  @include max-wide(desktop) {
    &.--show {
      width: var(--content-width-m-desktop, 48vw);
    }
  }

  @include max-wide(phonesLg) {
    &.--show {
      width: var(--content-width-m-phonesLg, auto);
    }
  }
}

%line-round {
  width: rem(10);
  height: rem(10);

  content: '';

  border: rem(2) solid $border-color;
  border-radius: 50%;
  background: var(--line-round-color, $primary);

  animation: pulse-actual 4s 0s infinite forwards linear; //cubic-bezier(.02, .66, .44, 1);
}

%dark-block {
  border-radius: rem(8);
  background: $dark06;
  backdrop-filter: blur(var(--dark-block-filter-blur, rem(5)));

  box-shadow: 0 0 1.5rem 0.5rem rgba(0, 0, 0, 0.46);
  overflow: hidden;
}

%sticky-block {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;

  min-height: rem(240);

  padding: $contentGutterX3;
}

%field {
  width: 100%;
  min-height: rem(48);

  padding: rem(8) $contentGutter;

  border: unset;

  font-family: $font-family-primary;
  font-size: rem(14);
  letter-spacing: rem(1);
  color: $light;

  outline: none;
  border: rem(2) solid $light;
  background: transparent;

  &:focus, &:hover {
    border-color: $secondary;
  }

  @include placeholder {
    color: inherit;
    opacity: 0.6;
  }
}

%section-caption {
  font-size: rem(72); //4vw;
  line-height: 1;
  font-weight: 800;
}
