@use "functions" as *;

//* Map size devices for media query
$wideScreens: (
  phonesSm: 340px,
  phones: 480px,
  phonesLg: 640px,
  tablet: 768px,
  laptop: 992px,
  desktopSm: 1024px,
  desktopMd: 1170px,
  desktop: 1280px,
  notebook: 1366px,
  notebookLg: 1600px,
  fullHD: 1800px,
  retina: 2100px,
  retina4k: 3656px,
  retina5k: 5100px,
  retina8k: 7600px
);

$contentGutter: rem(16) !default;
$contentGutterX2: rem(24) !default;
$contentGutterX3: rem(48) !default;
$contentGutterX4: rem(96) !default;

$themes-map: (
  default:(
    primary: #ff5656,
    primary-dark: #9D2323,
    secondary: #00FFBC,
    secondary-dark: #03b387,
    tertiary: #f6d633,
    light: #ffffff,
    dark: #000000,
    dark-06: #{rgba(#000000, .6)},
    dark-04: #{rgba(#000000, .4)},
    dark-01: #{rgba(#000000, .1)},
    base: #ffffff,
    border: #ffffff,
    border-04: #{rgba(#ffffff, .4)},
    error: #ff5656,
    warning: #fffb53,
    success: #00FFBC
  ),
  light:(
    primary: #22272e,
    primary-dark: #373e47,
    secondary: #99c8ff,
    secondary-dark: #4e8ee2,
    tertiary: #f6d633,
    light: #adbac7,
    dark: #0e1117,
    dark-06: #{rgba(#0e1117, .6)},
    dark-04: #{rgba(#0e1117, .4)},
    dark-01: #{rgba(#0e1117, .1)},
    base: #adbac7,
    border: #adbac7,
    border-04: #{rgba(#adbac7, .4)},
    error: #ff5656,
    warning: #fffb53,
    success:#00FFBC
  ),
  ocean:(
    primary: #3673c9,
    primary-dark: #134ea1,
    secondary: #1de9b6,
    secondary-dark: #0b5c49,
    tertiary: #f38dad,
    light: #7390aa,
    dark: #222f34,
    dark-06: #{rgba(#222f34, .6)},
    dark-04: #{rgba(#222f34, .4)},
    dark-01: #{rgba(#222f34, .1)},
    base: #7390aa,
    border: #7390aa,
    border-04: #{rgba(#7390aa, .4)},
    error: #d42a29,
    warning: #cea860,
    success:#00FFBC
  ),
  github:(
    primary: #22272e,
    primary-dark: #373e47,
    secondary: #99c8ff,
    secondary-dark: #4e8ee2,
    tertiary: #e34c26,
    light: #c9d1d9,
    dark: #0e1117,
    dark-06: #{rgba(#0e1117, .6)},
    dark-04: #{rgba(#0e1117, .4)},
    dark-01: #{rgba(#0e1117, .1)},
    base: #c9d1d9,
    border: #adbac7,
    border-04: #{rgba(#adbac7, .4)},
    error: #ff7b72,
    warning: #f1e05a,
    success:#3eb950
  )
);

$primary: var(--cl-primary);
$primary-dark: var(--cl-primary-dark);
$secondary: var(--cl-secondary);
$secondary-dark: var(--cl-secondary-dark);
$tertiary: var(--cl-tertiary);

$light: var(--cl-light);

$dark: var(--cl-dark);
$dark06: var(--cl-dark-06);
$dark04: var(--cl-dark-04);
$dark01: var(--cl-dark-01);

$error: var(--cl-error);
$warning: var(--cl-warning);
$success: var(--cl-success);

$base-color: var(--cl-base);
$border-color: var(--cl-border);
$border-color04: var(--cl-border-04);

//* transitions && animations
$transition-default: 0.3s ease-in-out !default;
$transition-border: border-color $transition-default !default;
$transition-shadow: box-shadow $transition-default !default;

$transition-start-delay: 1s;
$transition-start-duration: 2s;

$base-font-color: $secondary !default;
$base-font-size-color: 16px !default;

$font-family-primary: 'Montserrat', sans-serif;

// * shadows
$sh-card: 0 rem(-37) rem(80) rem(-20) rgba(0, 0, 0, 0.36);
$sh-text: rem(0) rem(1) rem(0) $light;

//* Scrolls
$scroll-size: var(--scroll-size, rem(5));
$scroll-border-radius: 0;
$scroll-thumb-color: $secondary;
$scroll-thumb-hover-color: $secondary-dark;
$scroll-track-color: $light;
$scroll-track-line: inset 0 0 0 0px $scroll-track-color;

//* Cursor
$cursor-size: rem(30);
$cursor-color: $secondary;
$cursor-color-active: $primary-dark;

