<article class="about-me">
  <div class=" about-me__head">About me</div>

  <div class="about-me__content">
    <p>My over 8 years of experience is focused on developing high quality and responsive interfaces, regardless of
      framework or technology.</p>


    <div class="about-me__features">
      <div class="about-me__item">
        <mark>8+</mark>
        <span>Years experience</span>
      </div>

      <div class="about-me__item">
        <mark>70+</mark>
        <span>Completed project</span>
      </div>

      <div class="about-me__item">
        <mark>50+</mark>
        <span>Companies worked</span>
      </div>
    </div>


    <div class="about-me__btns">
      <button class="button">View CV</button>
      <button class="button"><span class="jti-arrow-down"></span></button>
<!--      <button class="button">Download CV</button>-->
    </div>
  </div>

</article>
