<div class="console --hide">
  <header class="console__head">
    <button class="console__btn"></button>
    <button class="console__btn --y"></button>
    <button class="console__btn --g"></button>

    <mark class="console__head-text">
      <span>c</span>
      <span>o</span>
      <span>n</span>
      <span>s</span>
      <span>o</span>
      <span>l</span>
      <span>e</span>
    </mark>
  </header>

  <article class="console__area">
    <code class="console__view">
    </code>

    <div class="console__cmd">
      <input type="text" autofocus="">
    </div>
  </article>

  <article class="console__canvas"></article>
</div>
