<div class="lets-talk">
  <div class="lets-talk__head">
    <div class="lets-talk__capt">

      Hello, <br>LET’S TALK
    </div>
  </div>

  <div class="lets-talk__content">
    <form action="sent_full.php">
      <div class="input">
        <input class="input__field" type="name" placeholder="What's your name">
      </div>

      <div class="input">
        <input class="input__field" type="email" placeholder="Contact me back at email">
      </div>

      <div class="textarea">
        <textarea class="textarea__field" type="text" placeholder="I’d like to discuss"></textarea>
      </div>


      <button type="submit" class="lets-talk__btn">Hire me</button>
    </form>
  </div>
</div>
