<div class="projects">
  <div class="projects__head">
    <div class="projects__capt">
      MY PAST <br>
      PROJECTS

      <br>

      <mark>70+ projects</mark>
    </div>

    <button class="button-resize">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M365.3 472h-42.7c-11.8 0-21.3-9.6-21.3-21.3s9.6-21.3 21.3-21.3h42.7c35.3 0 64-28.7 64-64v-42.7c0-11.8 9.6-21.3 21.3-21.3 11.8 0 21.3 9.6 21.3 21.3v42.7c0 58.8-47.7 106.5-106.6 106.6zm-304-261.3c-11.8 0-21.3-9.6-21.3-21.3v-42.7C40.1 87.8 87.8 40.1 146.7 40h42.7c11.8 0 21.3 9.6 21.3 21.3s-9.6 21.3-21.3 21.3h-42.7c-35.3 0-64 28.7-64 64v42.7c0 11.8-9.6 21.4-21.4 21.4zm88 301.3h-42.7C47.8 511.9.1 464.2 0 405.3v-42.7c0-11.8 9.6-21.3 21.3-21.3s21.3 9.6 21.3 21.3v42.7c0 35.3 28.7 64 64 64h42.7c11.8 0 21.3 9.6 21.3 21.3.1 11.8-9.5 21.4-21.3 21.4zm341.4-341.3c-11.8 0-21.3-9.6-21.3-21.3v-42.7c0-35.3-28.7-64-64-64h-42.7c-11.8 0-21.3-9.6-21.3-21.3S350.9 0 362.7 0h42.7C464.2.1 511.9 47.8 512 106.7v42.7c0 11.7-9.6 21.3-21.3 21.3z"/>

        <path d="M407.9 301.4h42.7c11.8 0 21.3 9.6 21.3 21.3s-9.6 21.3-21.3 21.3h-42.7c-35.3 0-64 28.7-64 64v42.7c0 11.8-9.6 21.3-21.3 21.3-11.8 0-21.3-9.6-21.3-21.3V408c0-58.8 47.7-106.5 106.6-106.6h0zM189.4 40c11.8 0 21.3 9.6 21.3 21.3V104c-.1 58.9-47.8 106.6-106.7 106.7H61.3c-11.8 0-21.3-9.6-21.3-21.3s9.6-21.3 21.3-21.3H104c35.3 0 64-28.7 64-64V61.4c0-11.8 9.6-21.4 21.4-21.4h0zM21.3 341.3H64c58.8.1 106.5 47.8 106.6 106.7v42.7c0 11.8-9.6 21.3-21.3 21.3s-21.3-9.6-21.3-21.3V448c0-35.3-28.7-64-64-64H21.3C9.5 384 0 374.4 0 362.7c-.1-11.8 9.5-21.4 21.3-21.4h0zM362.7 0C374.5 0 384 9.6 384 21.3V64c0 35.3 28.7 64 64 64h42.7c11.8 0 21.3 9.6 21.3 21.3s-9.5 21.4-21.3 21.4H448c-58.8-.1-106.5-47.8-106.6-106.7V21.3C341.4 9.6 351 0 362.7 0h0z"/>
      </svg>
    </button>
  </div>

  <div class="projects__content">
    <a class="case" href="https://newsurrogacy.com/">
      <figure class="case__pic">
        <picture>
          <img src="assets/images/cases/case_newhope.jpg" alt="">
        </picture>

      </figure>

      <div class="case__detail">
        <span class="case__name">New Hope</span>

        <span class="case__desc">New Hope - International Surrogacy Agency in Ukraine</span>

        <div class="case__tags">
          <span class="tag">HTML5</span>
          <span class="tag">CSS3</span>
        </div>
      </div>
    </a>
    <a class="case" href="https://newsurrogacy.com/">
      <figure class="case__pic">
        <picture>
          <img src="assets/images/cases/case_newhope.jpg" alt="">
        </picture>

      </figure>

      <div class="case__detail">
        <span class="case__name">New Hope</span>

        <span class="case__desc">New Hope - International Surrogacy Agency in Ukraine</span>

        <div class="case__tags">
          <span class="tag">HTML5</span>
          <span class="tag">CSS3</span>
        </div>
      </div>
    </a>
    <a class="case" href="https://newsurrogacy.com/">
      <figure class="case__pic">
        <picture>
          <img src="assets/images/cases/case_newhope.jpg" alt="">
        </picture>

      </figure>

      <div class="case__detail">
        <span class="case__name">New Hope</span>

        <span class="case__desc">New Hope - International Surrogacy Agency in Ukraine</span>

        <div class="case__tags">
          <span class="tag">HTML5</span>
          <span class="tag">CSS3</span>
        </div>
      </div>
    </a>
    <a class="case" href="https://newsurrogacy.com/">
      <figure class="case__pic">
        <picture>
          <img src="assets/images/cases/case_newhope.jpg" alt="">
        </picture>

      </figure>

      <div class="case__detail">
        <span class="case__name">New Hope</span>

        <span class="case__desc">New Hope - International Surrogacy Agency in Ukraine</span>

        <div class="case__tags">
          <span class="tag">HTML5</span>
          <span class="tag">CSS3</span>
        </div>
      </div>
    </a>
  </div>
</div>
