<article class="reviews">
  <div class="reviews__head">
    <div class="reviews__capt">
      REVIEWS
    </div>
  </div>

  <div class="reviews__content">



    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <article class="reviews__item">
            <div class="reviews__item-rating">5.0</div>

            <p class="reviews__item-desc">
              Ilya was recommended to us as a very professional web developer, after discussing all the details with Ilya, a
              contract was concluded for the half-full development of a new website for New Hope. We are very pleased with the
              cooperation with Ilya, he is a talented and very responsible specialist. Ilya developed a beautiful Product
              Design, he implemented a website in Angular and organized the product deployment, Ilya also provided us with SEO
              services. He was always responsive, paid attention to every detail of our project and we had a perfect
              communication. Highly recommend Ilya and we’ll continue our cooperation with him.
            </p>

            <div class="">
              <div class="reviews__item-name">Julia O.</div>
              <div class="reviews__item-pos">Director at New Hope Surrogacy, LLC</div>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="reviews__item">
            <div class="reviews__item-rating">5.0</div>

            <p class="reviews__item-desc">
              Ilya was recommended to us as a very professional web developer, after discussing all the details with Ilya, a
              contract was concluded for the half-full development of a new website for New Hope. We are very pleased with the
              cooperation with Ilya, he is a talented and very responsible specialist. Ilya developed a beautiful Product
              Design, he implemented a website in Angular and organized the product deployment, Ilya also provided us with SEO
              services. He was always responsive, paid attention to every detail of our project and we had a perfect
              communication. Highly recommend Ilya and we’ll continue our cooperation with him.
            </p>

            <div class="">
              <div class="reviews__item-name">Julia O.</div>
              <div class="reviews__item-pos">Director at New Hope Surrogacy, LLC</div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="reviews__item">
            <div class="reviews__item-rating">5.0</div>

            <p class="reviews__item-desc">
              Ilya was recommended to us as a very professional web developer, after discussing all the details with Ilya, a
              contract was concluded for the half-full development of a new website for New Hope. We are very pleased with the
              cooperation with Ilya, he is a talented and very responsible specialist. Ilya developed a beautiful Product
              Design, he implemented a website in Angular and organized the product deployment, Ilya also provided us with SEO
              services. He was always responsive, paid attention to every detail of our project and we had a perfect
              communication. Highly recommend Ilya and we’ll continue our cooperation with him.
            </p>

            <div class="">
              <div class="reviews__item-name">Julia O.</div>
              <div class="reviews__item-pos">Director at New Hope Surrogacy, LLC</div>
            </div>
          </article>
        </div>




      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</article>
