<section class="start-preview">
  <picture class="start-preview__img">
    <img src="assets/images/about-img.jpg" alt="">

    <!--      <mark class="layout__img-link" href="">history</mark>-->
    <!--      <a class="layout__img-link" href=""></a>-->
    <!--      <a class="layout__img-link" href=""></a>-->
  </picture>

  <h1 class="start-preview__capt caption"> Pashchuk Ilya</h1>

  <p class="start-preview__desc">
    Welcome, this website is more than a simple portfolio. It's a space to
    get to know more about the person behind all of the work. Enjoy your
    exploration journey and get to know me better.
  </p>

  <button id="letsContinue" class="button">Let's Continue</button>
</section>
