<article class="welcome">
  <div class="welcome__head">
    <div class="welcome__capt">
      HI 👋, I`AM ILYA<br>
      <div>
        PRODUCT DESIGNER & WEB DEVELOPER
      </div>

      <!--    , I am a smart-hard-working web developer from the Ukraine,-->
    </div>
  </div>
  <p class="welcome__text">
    <!--    I am a smart-hard-working web developer from the Ukraine,-->
    <br>
    <!--    Robust, fast engineering multiplied by Business Analysis and UI /UX Design.-->
    I create web interfaces based on experience, technology trends and customer requirements. always reliable and
    vigorous development
  </p>
</article>
